{% extends 'templates/layouts/plantillaindex.html' %}
{% load static %}
{% block title %}contacto{% endblock %}

{% block content %}

    <div class="col-md-4">
        {% if product.image %}
            <img src="{{ product.image.url }}" alt="Imagen del producto" width="200" height="200" class="img-fluid">
        {% endif %}
        <div class="h1">{{ product.title }}</div>
        <div class="h5 font-weigth-bold">
            Precio: <span class="text-danger">${{ product.price }}</span>
        </div>
        <div class="">
            {{ product.description }}
        </div>
    </div>

{% endblock %}
