@import url('https://fonts.googleapis.com/css2?family=Golos+Text&family=Noto+Sans:ital,wght@1,600&family=Quicksand:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Golos+Text&family=Noto+Sans:ital,wght@1,600&family=Quicksand:wght@300;500;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Golos Text', sans-serif;
    /* font-family: 'Noto Sans', sans-serif; */
    /* font-family: 'Quicksand', sans-serif; */
    color: black;
    font-size: medium;
}


/* body{ */
    /* background-color: #399ee6; */
    /* background-image: url(./Iconos/canastaClara.PNG);
    background-repeat: no-repeat;
    background-position: 50px 50px;
    background-size: 650px;
    background-position: 150px 150px;  */
/* } */

#header{
    background-color: rgb(255, 255, 255) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 3%;
    
}

.logo {
    cursor: pointer;
    margin-right: 14%;
}


#imglogo{
    height: 100px;
    width: auto;
    transition: all 0.3s;
}

#imglogo:hover{
    transform:scale(1.2) ;
}

.nav-link{
 color: black;
  font-size: 20px;
}



.menu-horizontal{

    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu-horizontal li a{
    display: block;
    padding: 15px 20px;
    /* text-decoration: none; */
    border-color: black;
    box-sizing: 5px;

}

.li-vertical{
    background-color: #ffffff;
}

.li-vertical:hover{
    background-color: #bcbcbc;
}

.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 180px;
    background-color: #ffffff;
    
}

.menu-horizontal li:hover .menu-vertical{
    display: block;
}

#mercado{
    /* background-color: blue; */
    width: 100%;
    padding: 80px;
    height: 400px;
    margin-left: -100px;
    margin-top: 9%;
}

.h1-mercado{
    font-family: 'Anton', sans-serif;
    /* font-family: 'Golos Text', sans-serif; */
    /* font-family: 'Noto Sans', sans-serif; */
    /* font-family: 'Quicksand', sans-serif; */
    font-size: 100px;
   
}

.mercado p{
    font-family: 'Golos Text', sans-serif;
    font-size: 30px;
}

.comprar{
    /* background-color: aqua; */
    position: relative;
    bottom: 70px;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 100px;
    cursor: pointer;
}

.comprar button{
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    height: 50px;
    width: 250px;
    border-radius: 8px;
    border-color: rgb(255, 255, 255);
    cursor: pointer;
}

.img-right{
    margin-top: 40px;
    width: 600px;
}

main{
    display: flex;
    justify-content: space-around;
    background-color: #d3e1eb;

    background-repeat: no-repeat;
    background-position: 100px ;
    background-size: 650px;
    height: 720px;

}

footer{
    /* margin-top: 600px; */
    background-color: rgb(255, 255, 255);
    height: 20px;
}

form img{
    height: 30px;
}

#link{
    color: black;
}

#Buscar{
    /* margin-right: 60px; */
    height: 35px;
    margin-top: 10px;
}
.productos{
    text-decoration: none;
    color: black;
}


.h1-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-title h1{
    padding-top: 20px;
    font-size: 120px;
    font-family: Vegur, 'PT Sans', Verdana, sans-serif;
}
.device{
    margin-left:  100px;
    width: 700px;
    height: 600px;
    margin-top: -22%;
}

/* #textoS{
    width: 100%;
    padding: 80px;
    height: 400px;
    margin-left: -100px;
    margin-top: 9%;
} */
#imagenS{
    margin-left: 700px;
    width: 700px;
    height: 600px;
    margin-top: -22%; 
}
.container1{
    padding: 30px 25px;
    background-color: #d3e1eb; 
}
.container2{
    padding: 30px 25px;
    background-color: #d3e1eb;
   
}
.linea1{
    text-align: center;
    /* font-family: "Homer Simpson UI"; */
    font-size: 90px;
    color: #00259f;
   
}
.titulos{
    padding-top: 20px;
    font-size: 20px;
    font-family: 'Anton', sans-serif;
    align-items: center;
    color: #00259f;
}
.footer{
    height: 100px;
    /* position: relative */
    background-color: rgb(255, 255, 255);
    margin-top: 1%;
}

#botonproducto {
    background-color:#004AAD;  
    border-color: #004AAD; 
}

#link{
    color: black;
}
