{%extends './layouts/plantillaindex.html'%}
{% load static %}
{% block title %}Contacto{% endblock %}

{% block content %}
<main class="principal">
    <main class="container">
        <div class="container hero">
            <div class="row" id="sobreNosotros">
                <div class="col-12 col-lg-6 col-xl-5 offset-xl-1" id="textoS">
                    <h1 class="display-1">SOBRE NOSOTROS</h1>
                    <p class="h4">Somos una tienda de abarrotes familiar, donde nos enfocamos en ofrecer
                        productos de alta calidad a precios accesibles. Encontrarás todo lo que necesitas para tu
                        hogar, desde alimentos básicos como arroz, frijoles, harina y azúcar, hasta productos de
                        limpieza, cuidado personal y productos para tu mascota.</p>
                </div>
                <div class="image-container col-md-5 col-lg-5 offset-lg-1 offset-xl-0 d-none d-lg-block phone-holder" id="imagenS">
                    <img class="device img-fluid" src="{% static 'Iconos/comida.png' %}">
                </div>
            </div>
        </div>
    </main>
</main>

{% endblock %}